<div id="reg_form" class="bg_form">
  <h2>Listado de Tipos de Usuario</h2>

  <% @user_types.each do |user_type| %>
    <hr>
    <div class="user_type">
      <p><%= user_type.name %></p>
      <p>
        <%= link_to 'Mostrar', user_type %> -
        <%= link_to 'Editar', edit_user_type_path(user_type) %> -
        <%= link_to 'Eliminar', user_type, method: :delete, data: { confirm: '¿Estas seguro?' } %>
      </p>
    </div>
  <% end %>
  <hr>
  <%= link_to 'Nuevo tipo de usuario', new_user_type_path, class: "btn btn-primary btn_form" %>
</div>